<%- model_class = Note -%>
<% content_for :title do %>
  <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
<% end %>

<%= render :partial => 'form' %>

<% @notes.each do |note| %>
  <div class="alert alert-primary col-sm-offset-3 col-sm-9" role="alert">
    <h5><%=l note.created_at %></h5>
    <p><%= note.body %></p>
  </div>
  <!-- <div class='media'>
    <div class="media-body">
      <h6 class="media-heading"><%=l note.created_at %></h6>

      <div class="media">
        <%= note.body %>
      </div>
    </div>
  </div> -->
<% end %>

<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:_id) %></th>
      <th><%= model_class.human_attribute_name(:body) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note._id %></td>
        <td><%= note.body %></td>
        <td><%= note.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
